/*----------------------------------------------------------------------------
		Basic elements
----------------------------------------------------------------------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
header {
    font-family: Arial, Helvetica, sans-serif;
    background: url("./img/corkBoard.jpg") no-repeat center center fixed;
    background-size: 100% 99.9%;
}

/*----------------------------------------------------------------------------
		General and container
----------------------------------------------------------------------------- */
header {
    font-size: 24px;
    margin-top: 25px;
}

header,
form {
    min-height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,
form button {
    padding: 8px;
    font-size: 24px;
    border: none;
    background: rgb(243, 234, 234);
}

input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 40%;
    padding: 10px;
    font-size: 16px;
}

form button,
#check-all-div {
    color: #501785;
    background: rgb(243, 234, 234);
    cursor: pointer;
    transition: all 0.3s ease;
}

.note-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.note-list {
    max-width: 75%;
    min-width: 30%;
    list-style: none;
}

/*----------------------------------------------------------------------------
		Note style
----------------------------------------------------------------------------- */
.note {
    margin: 8px;
    background: white;
    color: black;
    font-size: 24px;
    display: block;
    justify-content: space-between;
    align-items: center;
    float: left;
    padding: 16px;
    text-align: center;
    min-height: 10em;
    box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
    /*Fade in Effect smooth transitions*/
    -webkit-transition: -webkit-transform 0.15s linear;
    /*To show a pin*/
    transform: rotate(0deg);
}

.note:hover,
.note:focus {
    box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
    /* zoom in effect */
    -webkit-transform: scale(1.25);
    position: relative;
    z-index: 5;
}

/*----------------------------------------------------------------------------
		Title, textarea and create date
----------------------------------------------------------------------------- */
.note-item {
    margin-bottom: 5px;
    padding: 5px;
    border: 1px groove rgb(235, 223, 250);
    border-radius: 5px;
    background: rgb(250, 241, 241);
}

.note-item:focus,
textarea:focus {
    background: #ede7f5;
}

textarea {
    padding: 5px;
    border: 1px solid #888;
    border-radius: 5px;
    overflow: auto;
    margin-top: 5px;
    /* Controle size*/
    max-width: 300px;
    max-height: 300px;
    min-width: 200px;
    min-height: 100px;
}

.create-date {
    font-size: 16px;
    padding-top: 5px;
    font-weight: bold;
    border: dotted 1px gray;
}

/*----------------------------------------------------------------------------
		Button and button related
----------------------------------------------------------------------------- */
.btn-div {
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.delete-btn,
.completed-btn {
    background: red;
    color: white;
    border: none;
    padding: 16px;
    cursor: pointer;
    font-size: 16px;
}

.completed-btn {
    background: green;
    margin-right: 1px;
}

.fa-trash-alt,
.fa-check-double {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.category-btn,
option {
    border: none;
    color: #501785;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
    text-align-last: center;
}

.sort-category-dropdown {
    color: #501785;
    background: rgb(243, 234, 234);
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 16px;
    padding: 12.5px;
    border: none;
    margin-left: 5px;
}

/*----------------------------------------------------------------------------
		Check all
----------------------------------------------------------------------------- */
#check-all-p {
    display: inline-block;
}

#check-all-div {
    margin-left: 5px;
    padding-left: 5px;
}

/*----------------------------------------------------------------------------
		Note pin
Pin Style made by: http://creative-punch.net/2014/02/create-css3-post-it-note/
----------------------------------------------------------------------------- */
.pin {
    background-color: #aaa;
    display: block;
    height: 32px;
    width: 2px;
    position: absolute;
    left: 50%;
    top: -16px;
    z-index: -1;
}

.pin:after {
    background-color: #a31;
    background-image: radial-gradient(25% 25%,
            circle,
            hsla(0, 0%, 100%, 0.3),
            hsla(0, 0%, 0%, 0.3));
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px hsla(0, 0%, 0%, 0.1),
        inset 3px 3px 3px hsla(0, 0%, 100%, 0.2),
        inset -3px -3px 3px hsla(0, 0%, 0%, 0.2),
        23px 20px 3px hsla(0, 0%, 0%, 0.15);
    content: "";
    height: 12px;
    left: -5px;
    position: absolute;
    top: -10px;
    width: 12px;
}

.pin:before {
    background-color: hsla(0, 0%, 0%, 0.1);
    box-shadow: 0 0 0.25em hsla(0, 0%, 0%, 0.1);
    content: "";
    height: 24px;
    width: 2px;
    left: 0;
    position: absolute;
    top: 8px;
    transform: rotate(57.5deg);
    transform-origin: 50% 100%;
}